<clickhouse>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <listen_host>::</listen_host>

    <max_connections>200</max_connections>
    <max_concurrent_queries>50</max_concurrent_queries>

    <backups>
        <allowed_path>/var/lib/clickhouse/backup/insider_backup/</allowed_path>
    </backups>
</clickhouse>
